.parametres-associer-comptes-container {
  position: absolute;
  top: 150px;
  left: 15px;

  height: 150px;
  width: 400px;

  border-radius: 7.5px;
  background-color: rgb(54, 54, 54);
}

.parametres-associer-comptes-title {
  margin-top: 12.5px;
  margin-left: 12.5px;

  font-size: 20px;

  color: rgb(156, 156, 156);
}

.parametres-chemins-options {
  position: absolute;
  top: 135px;
  left: 435px;

  height: 420px;
  width: 800px;

  border-radius: 7.5px;
  //background-color: rgb(54, 54, 54);
}

.parametres-chemins-options-container {
  height: 60px;
  width: 780px;

  margin: 10px;

  border-radius: 7.5px;
  background-color: rgb(54, 54, 54);
}

.parametres-chemins-options-title {
  

  margin-top: 15px;
  margin-left: 15px;

  font-size: 25px;

  color: rgb(145, 145, 145);
}

.parametres-chemins-options-content {
  margin-top: -50px;
  margin-right: 15px;

  font-size: 20px;
  text-align: end;

  color: rgb(39, 39, 39);
}
