.app-button {
  font-family: 'SFUIDisplayBold';
  color: white;
  border: none;
  height: 50px;
  margin: 5px;
  border-radius: 25px;
  min-width: 200px;
  font-size: 25px;
  letter-spacing: 3px;
  background-color: #20cf6f;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none !important;
  transition-duration: 600ms;


  &:hover {
    background-color: lighten(#20cf6f, 10%);
  }
}
