.home-profile-component {
  position: absolute;
  top: 120px;
  left: 960px;

  height: 400px;
  width: 250px;

  border-radius: 12.5px;
  background-color: rgba(46, 46, 46, 0.781);
}

.home-profile-img {
  height: 175px;
  width: 175px;
  margin: 37px;
  border-radius: 50%;

  margin-top: 65px;
}

.home-profile-name {
  margin-top: -10px;

  color: rgb(114, 110, 110);

  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.home-profile-discord {
  margin-top: -20px;

  color: rgba(88, 88, 88, 0.753);

  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.home-welcome-component {
  position: relative;
  top: 10px;
  left: 40px;
}

.home-welcome-text {
  font-size: 80px;
  color: #e6ebf4
}

.home-welcome-name {
  margin-top: -60px;
  font-size: 80px;
  color: rgb(114, 110, 110);
}

