.page-info {
  position: absolute;
  top: 15px;
  left: 205px;

  display: flex;
  flex-direction: wrap;

  border-radius: 10px;
  background-color: #383838;
  opacity: 60%;

  transition-duration: 600ms;

  &:hover {
    opacity: 30%;
  }
}

.page-name {
  position: relative;
  top: 5px;

  color: rgb(153, 153, 153);

  font-size: 25px;
  font-weight: 400;

  //padding-top: 5px;

  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 26px;

}
