.connexion-component {
  position: relative;
  top: -30px;
  left: 350px;

  display: flex;
  flex-direction: column;
}

.connexion-component-container {
  height: 40px;
  width: 500px;

  margin-top: 10px;
  //margin: auto;

  border-radius: 7.5px;
  background-color: rgb(77, 77, 77);
}

